@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .info {
    @apply mt-8 lg:text-4xl text-2xl font-medium;
  }

  .link {
    @apply hover:text-white transition;
  }
}

svg {
  width: 150px;
}

svg path {
  --total-length: 136px;
  stroke-linecap: round;
  stroke-width: 6;
  stroke: #3673fd;
  fill: none;
  stroke-dasharray: var(--total-length) var(--total-length);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: calc(-1 * var(--total-length));
  }
  30%,
  50% {
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    stroke-dashoffset: var(--total-length);
  }
}
